.reveal section h1 {
  font-size: 3em;
}

.reveal section code {
  color: #000;
  padding: 0 .2em;
  border-radius: 0.25em;
  line-height: 1;
}

.reveal section code.a { background-color: #ff5959; } /* Red */
.reveal section code.b { background-color: #a9a9a9; } /* Gray */
.reveal section code.c { background-color: #3cc0ff; } /* Blue */
.reveal section code.d { background-color: #45ff6d; } /* Orange */
.reveal section code.e { background-color: #ffe149; } /* Yellow */
.reveal section code.f { background-color: #fb63f6; } /* Violet */
.reveal section code.g { background-color: #c78430; } /* Brown */

.reveal section em {
  opacity: .5;
}

.reveal section strong {
  font-weight: normal;
}

.reveal section pre {
  display: inline-block;
  width: auto;
  text-align: center;
  box-shadow: none;
}

.reveal section pre code {
  font-size: 1.25em;
  border-radius: .5em;
  padding: .75em 1em;
  display: inline-block;
  max-height: initial;
  text-align: left;
}
